{
  "serverURL": "https://wap.tplinkcloud.com",
  "appType": "Kasa_Android",
  "methods": {
    "LOGIN": "login",
    "PASSTHROUGH": "passthrough"
  },
  "powerLevels": {
    "idle": 800,
    "inUse": 10000
  },
  "pollingRate": 5000,
  "pushover": {
      "user": "",
      "token": ""
    }
}